@import '@Styles/config02';

.blog-card {
  &-meta {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $c-shades-100;
  }

  &-link-title {
    color: $c-shades-100;
    text-decoration: none;
  }

  &-title {
    margin-bottom: 8px;
    @include body300Bold();
  }

  &-time {
    margin-bottom: 0;
    @include body200Italic();
  }

  &-excerpt {
    margin-bottom: 0;
    font-size: $fsz-body-300;
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-up(xl) {
  .blog-card {
    &-title {
      @include body400Bold();
    }
  }
}
