@import '@styles/config02';

.blog {
  &-header {
    margin: 24px 0;
    text-align: center;
  }

  &-title {
    width: 80%;
    margin: 0 auto 8px;
    @include headingH6();
  }

  &-date {
    margin-bottom: 0;
    @include body200Italic();
  }

  &-cover {
    margin-bottom: 24px;
  }

  &-image {
    width: 100%;
    height: 157px;
    margin-bottom: 8px;
    object-fit: cover;

    &-credit {
      @include body200Italic();
    }
  }

  &-body {
    margin-bottom: 20px;
    text-align: justify;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &-action {
    &-back {
      position: relative;
      padding: 0;
      background: none;
      border: none;
      color: $c-shades-100;
      @include body300Italic();

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $c-shades-100;
      }
    }
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-up(md) {
  .blog {
    &-header {
      margin: 60px 0 24px;

      &-row {
        justify-content: center;
      }
    }

    &-title {
      width: 100%;
      margin: 0 auto 10px;
      @include headingH5();
    }

    &-date {
      @include body300Italic();
    }

    &-cover {
      &-row {
        justify-content: center;
      }
    }

    &-image {
      height: 294px;

      &-credit {
        @include body300Italic();
      }
    }

    &-body {
      margin-bottom: 24px;
      text-align: left;

      &-row {
        justify-content: center;
      }
    }

    &-action {
      &-row {
        justify-content: center;
      }
    }
  }
}
