@use '@Styles/config';

.contact {
  &-title {
    margin-bottom: 46px;
    @include config.display500();
    text-align: center;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 24px;
    width: 240px;
    margin: 0 auto 46px;

    &-item {
      display: grid;
      grid-template-columns: 24px 1fr;
      align-items: center;
      column-gap: 16px;
    }

    &-icon {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      font-size: 24px;

      &-whatsapp {
        font-size: 28px;
      }
    }
  }

  &-form {
    position: relative;

    &-intro {
      margin-bottom: 16px;
      text-align: center;
    }

    &-input {
      &-note {
        &.contact-form-input-note-bs-override {
          display: block;
          margin-top: 10px;
          color: config.$c-shades-100;
          @include config.body200Italic();
        }
      }
    }

    &-send {
      @include config.primaryButton();
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      @include config.flexCenter();
      width: calc(100% + 24px);
      height: calc(100% + 24px);
      padding: 24px;
      border-radius: config.$border-radius;
      font-size: config.$fsz-heading-h6;
      text-align: center;
      content: 'Contact form is under construction';
      transform: translate(-12px, -12px);
      background-color: rgba(config.$c-primary-500, 0.8);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
  }
}

/* =============== Breakpoints =============== */

@include config.media-breakpoint-up(md, config.$grid-breakpoints) {
  .contact {
    &-title {
      margin-bottom: 24px;
    }

    &-list {
      margin: 0 auto 0 0;
    }

    &-form {
      &-intro {
        text-align: left;
      }
    }
  }
}

@include config.media-breakpoint-up(lg, config.$grid-breakpoints) {
  .contact {
    &-row {
      justify-content: center;
    }
  }
}

@include config.media-breakpoint-up(xl, config.$grid-breakpoints) {
  .contact {
    &-title {
      margin-bottom: 32px;
      @include config.display600();
    }

    &-list {
      margin: 0 auto;
    }
  }
}
