@import '@styles/config02';

.hero {
  margin: 42px 0 60px;

  &-left {
    @include flexCenter();
    flex-direction: column;
    margin-bottom: 20px;
  }

  &-title {
    width: 223px;
    margin-bottom: 12px;
    @include display600();
    text-align: center;
  }

  &-tech-stack {
    @include flexCenter();
    column-gap: 16px;
  }

  &-tech-item {
    width: auto;
    height: 24px;
  }

  &-intro {
    margin-bottom: 20px;

    p {
      text-align: justify;
    }
  }

  &-action {
    @include flexCenter();
    column-gap: 16px;

    &-project {
      @include primaryButtonLink();
    }

    &-contact {
      @include primaryButton();
    }
  }
}

.project-list {
  margin-bottom: 60px;

  &-title {
    margin-bottom: 16px;
    @include display500();
    text-align: center;
  }

  &-project-row {
    margin-bottom: 42px;
    gap: 16px;
  }

  &-action {
    @include flexCenter();
  }

  &-more-btn {
    @include primaryButtonLink();
  }
}

.blog-list {
  margin-bottom: 60px;

  &-title {
    margin-bottom: 16px;
    @include display500();
    text-align: center;
  }

  &-blog-row {
    margin-bottom: 42px;
    gap: 20px;
  }

  &-action {
    @include flexCenter();
  }

  &-more-btn {
    @include primaryButtonLink();
  }
}

.contact {
  &-title {
    margin-bottom: 46px;
    @include display500();
    text-align: center;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 24px;
    width: 240px;
    margin: 0 auto 46px;

    &-item {
      display: grid;
      grid-template-columns: 24px 1fr;
      align-items: center;
      column-gap: 16px;
    }

    &-icon {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      font-size: 24px;

      &-whatsapp {
        font-size: 28px;
      }
    }
  }

  &-form {
    &-intro {
      margin-bottom: 16px;
      text-align: center;
    }

    &-input {
      &-note {
        &.contact-form-input-note-bs-override {
          display: block;
          margin-top: 10px;
          color: $c-shades-100;
          @include body200Italic();
        }
      }
    }

    &-send {
      @include primaryButton();
    }
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-up(md) {
  .hero {
    margin: 86px 0;

    &-row {
      align-items: center;
    }

    &-left {
      margin-bottom: 0;
    }

    &-title {
      width: 100%;
      max-width: 377px;
      margin-bottom: 24px;
      @include display700();
    }

    &-tech-stack {
      column-gap: 32px;
    }

    &-tech-item {
      height: 38px;
    }

    &-intro {
      margin-bottom: 24px;
    }

    p {
      text-align: left;
    }

    &-action {
      justify-content: start;
    }
  }

  .project-list {
    margin-bottom: 86px;

    &-title {
      margin-bottom: 24px;
    }

    &-project-row {
      margin-bottom: 60px;
      gap: 16px 0;
    }
  }

  .blog-list {
    margin-bottom: 86px;

    &-title {
      margin-bottom: 24px;
    }

    &-blog-row {
      margin-bottom: 60px;
      gap: 32px;
    }
  }

  .contact {
    &-title {
      margin-bottom: 24px;
    }

    &-list {
      margin: 0 auto 0 0;
    }

    &-form {
      &-intro {
        text-align: left;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .blog-list {
    &-blog-row {
      justify-content: center;
    }
  }

  .contact {
    &-row {
      justify-content: center;
    }
  }
}

@include media-breakpoint-up(xl) {
  .hero {
    margin: 124px 0;

    &-row {
      justify-content: center;
    }

    &-title {
      max-width: none;
      @include display900();
    }

    &-tech-stack {
      column-gap: 47px;
    }

    &-tech-item {
      height: 52px;
    }
  }

  .project-list {
    margin-bottom: 145px;

    &-title {
      margin-bottom: 32px;
      @include display600();
    }
  }

  .blog-list {
    margin-bottom: 145px;

    &-title {
      margin-bottom: 32px;
      @include display600();
    }
  }

  .contact {
    &-title {
      margin-bottom: 32px;
      @include display600();
    }

    &-list {
      margin: 0 auto;
    }
  }
}
