@import '@styles/config02';

.hero {
  margin: 42px 0 60px;

  &-left {
    @include flexCenter();
    flex-direction: column;
    margin-bottom: 20px;
  }

  &-title {
    width: 223px;
    margin-bottom: 12px;
    @include display600();
    text-align: center;
  }

  &-tech-stack {
    @include flexCenter();
    column-gap: 16px;
  }

  &-tech-item {
    @include placeholderBox(30px);
  }

  &-intro {
    margin-bottom: 20px;

    p {
      text-align: justify;
    }
  }

  &-action {
    @include flexCenter();
    column-gap: 16px;

    &-project {
      @include primaryButtonLink();
    }

    &-contact {
      @include primaryButton();
    }
  }
}

.project-list {
  margin-bottom: 60px;

  &-title {
    margin-bottom: 16px;
    @include display500();
    text-align: center;
  }

  &-project-row {
    margin-bottom: 42px;
    gap: 16px;
  }

  &-action {
    @include flexCenter();
  }

  &-more-btn {
    @include primaryButtonLink();
  }
}

.blog-list {
  margin-bottom: 60px;

  &-title {
    margin-bottom: 16px;
    @include display500();
    text-align: center;
  }

  &-blog-row {
    margin-bottom: 42px;
    gap: 20px;
  }

  &-action {
    @include flexCenter();
  }

  &-more-btn {
    @include primaryButtonLink();
  }
}

.contact {
  &-title {
    margin-bottom: 46px;
    @include display500();
    text-align: center;
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 24px;
    width: 240px;
    margin: 0 auto 46px;

    &-item {
      @include flexCenter();
      column-gap: 16px;
    }

    &-icon {
      @include placeholderBox(30px);
    }
  }

  &-form {
    &-intro {
      margin-bottom: 16px;
      text-align: center;
    }

    &-input {
      &-note {
        &.contact-form-input-note-bs-override {
          display: block;
          margin-top: 10px;
          color: $c-shades-100;
          @include body200Italic();
        }
      }
    }

    &-send {
      @include primaryButton();
    }
  }
}
