@use '@Styles/config';

.blog {
  &-header {
    margin: 24px 0 33px;
  }

  &-title {
    margin-bottom: 8px;
    @include config.display500();
    text-align: center;
  }

  &-subtitle {
    margin-bottom: 0;
    @include config.body200Regular();
    text-align: center;
  }

  &-index {
    &-control {
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: 8px;
      margin-bottom: 16px;

      &-item {
        @include config.placeholderBox(20px);
      }
    }

    &-list {
      &-row {
        row-gap: 20px;
        margin-bottom: 60px;
      }
    }
  }
}

/* =============== Breakpoints =============== */

@include config.media-breakpoint-up(md, config.$grid-breakpoints) {
  .blog {
    &-header {
      margin: 60px 0 38px;
    }

    &-title {
      margin-bottom: 10px;
      @include config.display600();
    }

    &-subtitle {
      @include config.body300Regular();
    }

    &-index {
      &-control {
        margin-bottom: 24px;
      }

      &-list {
        &-row {
          row-gap: 32px;
        }
      }
    }
  }
}

@include config.media-breakpoint-up(lg, config.$grid-breakpoints) {
  .blog {
    &-index {
      &-control {
        &-row {
          justify-content: center;
        }
      }

      &-list {
        &-row {
          justify-content: center;
        }
      }
    }
  }
}

@include config.media-breakpoint-up(xl, config.$grid-breakpoints) {
  .blog {
    &-header {
      margin-bottom: 42px;
    }

    &-title {
      @include config.display700();
    }

    &-subtitle {
      @include config.body400Regular();
    }

    &-index {
      &-list {
        &-row {
          margin-bottom: 100px;
        }
      }
    }
  }
}
