@import '@Styles/config02';

.blog {
  &-header {
    margin: 24px 0 33px;
  }

  &-title {
    margin-bottom: 8px;
    @include display500();
    text-align: center;
  }

  &-subtitle {
    margin-bottom: 0;
    @include body200Regular();
    text-align: center;
  }

  &-index {
    &-control {
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: 8px;
      margin-bottom: 16px;

      &-item {
        @include placeholderBox(20px);
      }
    }

    &-list {
      &-row {
        row-gap: 20px;
        margin-bottom: 60px;
      }
    }
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-up(md) {
  .blog {
    &-header {
      margin: 60px 0 38px;
    }

    &-title {
      margin-bottom: 10px;
      @include display600();
    }

    &-subtitle {
      @include body300Regular();
    }

    &-index {
      &-control {
        margin-bottom: 24px;
      }

      &-list {
        &-row {
          row-gap: 32px;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .blog {
    &-index {
      &-control {
        &-row {
          justify-content: center;
        }
      }

      &-list {
        &-row {
          justify-content: center;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .blog {
    &-header {
      margin-bottom: 42px;
    }

    &-title {
      @include display700();
    }

    &-subtitle {
      @include body400Regular();
    }

    &-index {
      &-list {
        &-row {
          margin-bottom: 100px;
        }
      }
    }
  }
}
