@import 'bootstrap/scss/mixins/breakpoints';

$c-primary-200: #a3a8a8;
$c-primary-300: #565c5c;
$c-primary-400: #2d3030;
$c-primary-500: #1e2020;
$c-primary-600: #0a0b0b;

$c-shades-100: #ffffff;
$c-shades-200: #cccccc;
$c-shades-400: #999999;
$c-shades-600: #666666;
$c-shades-800: #333333;
$c-shades-1000: #000000;

$c-bp-default: #ffffff;
$c-bp-hover: #d9d9d9;
$c-bp-active: #bfbfbf;
$c-bp-disabled: #a9a9a9;

$c-bs-default: rgba(#ffffff, 0);
$c-bs-hover: #ffffff;
$c-bs-active: #bfbfbf;
$c-bs-disabled: #a9a9a9;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$border-radius: 3px;
$footer-margin-top: 80px;

/* =============== Typography =============== */

@import 'typography';

/* =============== Utilities =============== */

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin placeholderBox($width, $height: 0) {
  display: block;
  border-radius: 3px;
  background-color: $c-shades-100;

  // Rectangle or square.
  @if $height != 0 {
    width: $width;
    height: $height;
  } @else {
    width: $width;
    height: $width;
  }
}

@mixin textShadow {
  text-shadow: 0 4px 4px rgba($c-shades-1000, 0.25);
}

/* =============== Components =============== */

@mixin button {
  display: inline-block;
  min-width: 100px;
  padding: 8px 10px;
  border: none;
  border-radius: $border-radius;
  transition: all 300ms ease-out;
  line-height: 1.2;
}

@mixin primaryButton {
  @include button();
  background-color: $c-bp-default;
  color: $c-shades-800;

  &:hover {
    background-color: $c-bp-hover;
  }
}

@mixin primaryButtonLink {
  @include primaryButton();
  text-align: center;
  text-decoration: none;
}
