// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lato:wght@300;400&display=swap');

$main-color: #343838;
$secondary-color: #00dffc;

$main-color-dark-1: #242626;
$main-color-dark-2: #181a1a;
$secondary-color-dark-1: #00b4cc;
$secondary-color-dark-2: #008c9e;
$secondary-color-dark-3: #008c9e;

// $grid-columns: 12;
// $grid-gutter-width: 30px;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin Lato {
  font-family: 'Lato', $font-family-sans-serif;
}

@mixin CarterOne {
  font-family: 'Carter One', 'Lato', $font-family-sans-serif;
}
