@import './config';

.contact {
  &-list-row {
    justify-content: center;
  }

  &-info {
    @include flexCenter();
    flex-direction: column;
    padding: 3rem;
    font-size: 1.1rem;
  }

  &-point {
    display: grid;
    grid-template-columns: 14px 1fr;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &-logo {
    font-size: 1.4rem;
  }

  &-message-input {
    &.form-control-override {
      height: 140px;
    }
  }

  &-send-btn {
    @include mainButton();
    @include flexCenter();
    width: 120px;
    margin-top: 1.5rem;

    &-spinner {
      &.spinner-border-override {
        width: 15px;
        height: 15px;
        border-width: 2px;
        margin-right: 0.3rem;
      }
    }
  }
}
