@import './config';

.contact {
  &-list-row {
    justify-content: center;
  }

  &-info {
    @include flexCenter();
    flex-direction: column;
    padding: 3rem;
    font-size: 1.2rem;
  }

  &-point {
    display: grid;
    grid-template-columns: 14px 1fr;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &-logo {
    font-size: 1.4rem;
  }

  &-message-input {
    &.form-control-override {
      height: 140px;
    }
  }

  &-send-btn {
    @include mainButton();
    width: 120px;
    margin-top: 1.5rem;
  }
}
