@import './config';

.hero {
  @include flexCenter();
  flex-direction: column;
  height: 380px;

  &-logo {
    width: 300px;
  }

  &-subtitle {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1.1rem;
  }
}

// Breakpoints.

@include media-breakpoint-up(md) {
  .hero {
    height: 540px;

    &-logo {
      width: 400px;
    }

    &-subtitle {
      font-size: 1.5rem;
    }
  }
}
