@import './config';

html,
body {
  height: 100%;
  background-color: darken($main-color, 3);
  @include Lato();
  font-weight: 300;
  color: white;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include CarterOne();
}

b {
  font-weight: 700;
}
