@import './config02';

html,
body {
  height: 100%;
  background-color: $c-primary-400;
  @include Inter();
  font-weight: 400;
  color: $c-shades-100;
  line-height: 1.2;
}

// React container.
#root {
  height: 100%;
}

b {
  font-weight: 700;
}

p {
  margin-bottom: 16px;
}
