@use '@Styles/config';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: config.$c-primary-500;
  z-index: 100;
  transition: transform 300ms ease-out;

  &-hide {
    transform: translateY(-100%);
  }

  &-brand {
    @include config.display400();
    margin-bottom: 0;
    color: config.$c-shades-100;
    text-decoration: none;
  }

  &-collapse {
    display: none;
    position: absolute;
    top: config.$navbar-height;
    left: 0;
    width: 100%;
    background-color: config.$c-primary-500;

    &-show {
      display: block;
    }
  }

  &-menu {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    &-item {
      display: block;
      width: 100%;
      padding: 18px 0;
    }

    &-link {
      color: config.$c-shades-100;
      text-decoration: none;
      line-height: 1;
    }

    &-toggle {
      @include config.buttonReset();
      display: block;
      margin-left: auto;
      color: config.$c-shades-100;
    }
  }

  &-social {
    @include config.flexCenter();
    padding: 18px 0;
    column-gap: 16px;

    &-item {
      display: inline-flex;
      align-items: center;
      font-size: 24px;
      color: config.$c-shades-100;
      text-decoration: none;
    }
  }
}

.main-container {
  width: 100%;
  padding-top: config.$navbar-height;
  /* Sticky footer:
    100 view height - footer top margin - footer height
  */
  min-height: calc(100vh - config.$footer-margin-top - config.$footer-height);
}

.footer {
  margin-top: config.$footer-margin-top;
  padding: 12px 0;
  background-color: config.$c-primary-500;

  &-brand {
    margin-bottom: 6px;
    @include config.display400();
  }

  &-copy {
    margin-bottom: 0;
    @include config.body200Italic();
  }
}

/* =============== Breakpoints =============== */

@include config.media-breakpoint-up(md, config.$grid-breakpoints) {
  $navbar-height: 130px;
  $footer-height: 89px;
  $footer-margin-top: 100px;

  .navbar {
    padding: 18px 0;

    &-brand {
      display: block;
      margin-bottom: 8px;
      @include config.display500();
      text-align: center;
    }

    &-collapse {
      position: static;
      display: block;
      padding: 0;
    }

    &-menu {
      @include config.flexCenter();
      column-gap: 28px;
      margin-bottom: 16px;

      &-item {
        display: inline;
        padding: 0;
        @include config.body300Regular();
      }

      &-toggle {
        display: none;
      }
    }

    &-social {
      padding: 0;
      column-gap: 24px;
    }
  }

  .main-container {
    padding-top: $navbar-height;
    min-height: calc(
      100vh - $footer-margin-top - $navbar-height - $footer-height
    );
  }

  .footer {
    margin-top: $footer-margin-top;
    padding: 16px 0;

    &-brand {
      margin-bottom: 7px;
      @include config.display500();
    }

    &-copy {
      @include config.body300Italic();
    }
  }
}

@include config.media-breakpoint-up(xl, config.$grid-breakpoints) {
  $navbar-height: 130px;
  $footer-height: 89px;
  $footer-margin-top: 145px;

  .main-container {
    padding-top: $navbar-height;
    min-height: calc(
      100vh - $footer-margin-top - $navbar-height - $footer-height
    );
  }

  .footer {
    margin-top: $footer-margin-top;
  }
}
