@import '@styles/config02';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: $c-primary-500;
  z-index: 100;

  &-brand {
    @include display400();
    margin-bottom: 0;
    color: $c-shades-100;
    text-decoration: none;
  }

  &-collapse {
    display: none;
    position: absolute;
    top: $navbar-height;
    left: 0;
    width: 100%;
    padding: 0 12px;
    background-color: $c-primary-500;

    &-show {
      display: block;
    }
  }

  &-menu {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    &-item {
      display: block;
      width: 100%;
      padding: 18px 0;
    }

    &-link {
      color: $c-shades-100;
      text-decoration: none;
    }

    &-toggle {
      @include buttonReset();
      display: block;
      margin-left: auto;
      color: $c-shades-100;
    }
  }

  &-social {
    @include flexCenter();
    padding: 18px 0;
    column-gap: 16px;

    &-item {
      display: inline-flex;
      align-items: center;
      font-size: 24px;
      color: $c-shades-100;
      text-decoration: none;
    }
  }
}

.main-container {
  width: 100%;
  padding-top: $navbar-height;
  /* Sticky footer:
    100 view height - footer top margin - navbar height - footer height
  */
  min-height: calc(
    100vh - $footer-margin-top - $navbar-height - $footer-height
  );
}

.footer {
  margin-top: $footer-margin-top;
  padding: 12px 0;
  background-color: $c-primary-500;

  &-brand {
    margin-bottom: 6px;
    @include display400();
  }

  &-copy {
    margin-bottom: 0;
    @include body200Italic();
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-up(md) {
  $navbar-height: 131px;
  $footer-height: 61px;
  $footer-margin-top: 100px;

  .navbar {
    padding: 18px 0;

    &-brand {
      display: block;
      margin-bottom: 12px;
      @include display500();
      text-align: center;
    }

    &-collapse {
      position: static;
      display: block;
      padding: 0;
    }

    &-menu {
      @include flexCenter();
      column-gap: 28px;
      margin-bottom: 16px;

      &-item {
        display: inline;
        padding: 0;
        @include body300Regular();
      }

      &-toggle {
        display: none;
      }
    }

    &-social {
      padding: 0;
      column-gap: 24px;
    }
  }

  .main-container {
    padding-top: $navbar-height;
    min-height: calc(
      100vh - $footer-margin-top - $navbar-height - $footer-height
    );
  }

  .footer {
    margin-top: $footer-margin-top;
    padding: 16px 0;

    &-brand {
      margin-bottom: 7px;
      @include display500();
    }

    &-copy {
      @include body300Italic();
    }
  }
}
