@import './config';

.content-section {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.section {
  &-header {
    margin-bottom: 1rem;
  }

  &-title {
    font-size: 1.3rem;
  }

  &-subtitle {
    @include Lato();
    font-weight: 300;
    font-size: 1.1rem;
  }
}

.main-button {
  @include mainButton();

  &-link {
    @extend .main-button;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.toast {
  bottom: 25px;
  left: 15px;
  z-index: 1030;
  max-width: 400px;
  transform: translateY(calc(150% + 25px));

  &-active {
    transform: translateY(0);
  }

  &.alert-override {
    position: fixed;
    transition: transform 200ms ease-out;
  }
}

.footer {
  margin-top: 4rem;
  text-align: center;
}

// Breakpoints.

@include media-breakpoint-up(md) {
  .content-section {
    &:not(:last-child) {
      margin-bottom: 6rem;
    }
  }

  .section {
    &-header {
      margin-bottom: 2rem;
    }

    &-title {
      font-size: 1.6rem;
    }

    &-subtitle {
      font-size: 1.3rem;
    }
  }
}
